* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.gallery {
  width: 100%;
  white-space: nowrap;
  width: 80%;
  margin: 0 auto;
}

.image {
  display: inline-block;
  position: absolute;
  top: 0;
}

.image.active {
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}

.image.left {
  left: -500px;
}

.image.right {
  right: -500px;
}

.image img {
  width: 850px;
  height: 250px;
  object-fit: cover;
}

.buttons {
  margin-top: 270px;
  text-align: center;
}