* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.gallery {
  width: 100%;
  white-space: nowrap;
  width: 80%;
  margin: 0 auto;
}

.gallery > .right {
  z-index: 100;
}

.gallery > .right ~ .right {
  z-index: 0;
}

.image {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 90vw;
}

.image.active {
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}

.image.left {
  left: -30vw;
}

.image.right {
  left: 90vw;
}

.image img {
  width: 40vw;
  height: 250px;
  object-fit: cover;
}

.buttons {
  margin-top: 270px;
  text-align: center;
}

.slideLeft {
  animation: slideLeft 1s;
}

.slideLeftReverse {
  animation: slideLeft 1s;
  animation-direction: reverse;
}

.slideRight {
  animation: slideRight 1s;
}

.slideRightReverse {
  animation: slideRight 1s;
  animation-direction: reverse;
}

@keyframes slideLeft {
  0% { 
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
  }
  100% { left: -30vw; }
}

@keyframes slideRight {
  0% { left: 90vw; }
  100% { 
    left: 50%;
    transform: translate(-50%);
  }
  
}